button {
    width: 100%;
    color: var(--color-gray-10);
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}
